.chat-body {
    overflow-y: scroll;
    height: 90%;

}

.chat-body::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.chat-body::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.chat-body::-webkit-scrollbar-thumb {
    background: #888;
}

.chat-body::-webkit-scrollbar-button {}