.chat-body {
    overflow-y: scroll;
    height: 90%;
    /* display: flex;
    flex-direction: column;
    width: 100%; */
}

.chat-body::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.chat-body::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.chat-body::-webkit-scrollbar-thumb {
    background: #888;
}