.message-left {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.message-right {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.message-body-left {
    padding: 3px;
    background-color: antiquewhite;
    margin: 4px;
    border-radius: 5px;
    width: 70%;
}

.message-body-right {
    padding: 3px;
    background-color: rgb(160, 210, 230);
    margin: 4px;
    border-radius: 5px;

    width: 70%;
}